body {
	font: 100%/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: #ddd;
}

#container {
	width: 600px;
	margin: auto;
}

h1 {
	font-family: "LeagueGothicRegular", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 3em;
}

a {
	color: #000;
}

p {
	margin-bottom: 1em;
}

strong {
	font-weight: bold;
}

#main {
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 1em;
}

/* Fonts */

@font-face {
	font-family: 'LeagueGothicRegular';
	src: url('/fonts/League_Gothic-webfont.eot');
	src: url('/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/League_Gothic-webfont.woff') format('woff'),
		 url('/fonts/League_Gothic-webfont.ttf') format('truetype'),
		 url('/fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}